templates/html/loading.html
<!--OBS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
if you change something here you need to save loading.jade, postAuth.jade & preAuth.jade
in order to apply changes
--><!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>something</title><link rel="stylesheet" href="../../static/style.min.css"></head><body><h2 class="center">LOADING</h2><div id="loadingAnimation"><div class="emojis-wrapper"><div class="emoji emoji1"><div class="mouth"></div></div><div class="emoji emoji2"><div class="mouth"></div></div><div class="emoji emoji3"><div class="mouth"></div></div></div><div class="madeBy"><a href="http://www.ajerez.es/en/" target="_blank">loading animation made by Ajerez</a></div></div><p id="byAxoSal">Built with love by <a target="_blank" href="https://axosal.surge.sh">Axo Sal</a></p><div id="aff"><div class="center"><p id="byAxoSal2">Built with love by<a target="_blank" href="https://axosal.surge.sh">Axo Sal</a></p></div></div><script>setTimeout(function(){
  window.location.replace("/application");
}, 10);</script></body></html>

templates/loading.jade
//output: html/loading.html, pretty:false
extends ./template.jade

block content
  h2.center LOADING

  #loadingAnimation
    .emojis-wrapper
        .emoji.emoji1
            .mouth
        .emoji.emoji2
            .mouth
        .emoji.emoji3
            .mouth

    .madeBy
        a(href='http://www.ajerez.es/en/', target='_blank') loading animation made by Ajerez


block redirect
  script.
    setTimeout(function(){
      window.location.replace("/application");
    }, 10);
